@import 'tailwindcss';
@theme {
  --animate-slide-in: slideIn 0.4s ease-in-out forwards;
  --animate-fade-in: fadeIn 0.4s ease-in-out forwards;

  @keyframes slideIn {
    0% {
      transform: translateX(-20px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@utility container {
  margin: 0 auto;
  padding: 0 0.5rem;
  @media (width >= 40rem) {
    padding: 0 1rem;
  }
}

@utility animate-1 {
  animation-delay: 100ms;
}
@utility animate-2 {
  animation-delay: 200ms;
}
@utility animate-3 {
  animation-delay: 300ms;
}
@utility animate-4 {
  animation-delay: 400ms;
}
@utility animate-5 {
  animation-delay: 500ms;
}
@utility animate-6 {
  animation-delay: 600ms;
}
@utility animate-7 {
  animation-delay: 700ms;
}
@utility animate-8 {
  animation-delay: 800ms;
}
@utility animate-9 {
  animation-delay: 900ms;
}
@utility animate-10 {
  animation-delay: 1000ms;
}
